numpy
opencv-python
mss
# Input backends (conditional)
pyautogui<=0.9.54; python_version < "3.13"
pydirectinput; python_version >= "3.13"
pillow
pygetwindow
discord.py==2.3.2
pywin32
psutil
python-dotenv
pydirectinput
audioop-lts
